.contact-footer {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info {
  max-width: 800px;
  margin: 0 auto;
}

.contact-info h2 {
  font-size: 1.3em;
  margin-bottom: 8px;
  color: #61dafb;
}

.contact-info p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center; /* Center the items */
  gap: 20px; /* Add space between the items */
}

.contact-info ul li {
  margin: 0; /* Remove margin */
}

.contact-info ul li a {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info ul li a:hover {
  color: #21a1f1;
}
