.projects-container {
    padding: 20px;
    text-align: center;
  }
  
  .project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .project-card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-card h3 {
    color: #333;
  }
  
  .project-card p {
    color: #666;
  }
  
  .project-details {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .project-details h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .project-details p {
    font-size: 1.2em;
  }
  
  .back-button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #21a1f1;
  }
  